@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  font-family: Arial, sans-serif;
  background-color: #010b2b;
  margin: 0;
  padding: 0;
}

footer {
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgb(255, 255, 255); // Certifique-se de usar background-color em vez de apenas background para uma cor sólida
  color: #002008; // Mudando a cor do texto para um tom mais escuro para visibilidade
  text-align: center;
  padding: 20px;
 // Garantindo que o footer esteja no topo dos outros elementos
}

nav {
  background: rgb(255, 255, 255);
  padding: 10px 0;

  ul {
    list-style-type: none;
    margin: 0 auto; /* Centraliza o ul dentro do nav */
    padding: 0;
    display: flex; /* Usa flexbox para o alinhamento */
    justify-content: center; /* Centraliza os itens horizontalmente */
    align-items: center; /* Centraliza os itens verticalmente */
    text-align: center;

    li {
      margin-right: 20px; /* Ajusta o espaço entre os itens */

      &:last-child {
        margin-right: 0; /* Remove a margem direita do último item */
      }

      a {
        text-decoration: none;
        color: #002008;
        font-size: 16px;
        font-weight: bold;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
.parceiros {
  display: flex; /* Usa flexbox para o alinhamento */
  align-items: center; /* Alinha os itens verticalmente ao centro */
  justify-content: space-between; /* Espaça os itens igualmente */
  padding: 20px; /* Adiciona um pouco de padding ao redor da div */
  background-color: #010b2b; /* Define uma cor de fundo para a seção */
  
  .texto {
    flex: 1; /* Faz com que o texto ocupe a maior parte do espaço disponível */
    margin-right: 20px; /* Adiciona um espaço entre o texto e a imagem */
    color: #fff;
    
    h2 {
      font-size: 24px; /* Define o tamanho da fonte para o título */
      margin-bottom: 10px; /* Adiciona um espaço abaixo do título */
    }
    
    p {
      font-size: 16px; /* Define o tamanho da fonte para o parágrafo */
      color: #ffffff; /* Define uma cor para o texto */
    }
  }
  
  .imagem {
    flex-shrink: 0; /* Impede que a imagem encolha */
    
    img {
      max-width: 200px; /* Define a largura máxima da imagem */
      height: auto; /* Mantém a proporção da imagem */
      border-radius: 10px; /* Adiciona cantos arredondados à imagem */
    }
  }
}


.dashboard-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  color: #ffffff;
}

h1 {
  text-align: center;
  color: #ffffff;
}

.dashboard-card {
  background-color: #010b2b;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  padding: 20px;
  display: flex;
  align-items: center;
  transition: transform 0.3s ease;
}

.dashboard-card:hover {
  transform: translateY(-5px);
}

.dashboard-image {
  width: 30%;
  height: auto;
  border-radius: 4px;
  margin-right: 20px;
}

.dashboard-description {
  font-size: 16px;
  color: #ffffff;
}


.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
}

.carousel {
  width: 100%;
  max-width: 800px;
  height: 400px;
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.carousel img {
  width: 100%;
  height: auto;
  display: flex;
  margin: 0 auto; // Centraliza horizontalmente
}
.quem {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color:#010b2b; // Ajuste conforme necessário
}

.image-container {
  flex: 1;
  margin-right: 20px;

  img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
}

.text-container {
  flex: 2;

  h2 {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
  }

  p {
    font-family: 'Arial', sans-serif;
    color: #fff8f8;
    font-size: 16px;
    line-height: 1.5;
  }

  ul {
    list-style-type: none;
    padding: 0;

    li {
      font-family: 'Arial', sans-serif;
      color: #ffffff;
      font-size: 16px;
      margin: 5px 0;
    }
  }
}

.content {
  width: 80%;
  max-width: 800px;
  text-align: center;
}
.cardcarousel {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: 20px 0;

  .carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
  }

  .card {
    min-width: 100px;
    margin: 10px;
    padding: 20px;
    background: #010b2b;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex-shrink: 0; /* Prevents shrinking */

    img {
      max-width: 40%;
      border-radius: 10px;
      margin-bottom: 10px;
    }

    h3 {
      font-size: 18px;
      margin: 10px 0;
    }

    p {
      font-size: 14px;
      color: #666;
    }
  }

  .prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;

    &:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }
  }

  .prev {
    left: 10px;
  }

  .next {
    right: 10px;
  }
}
