@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  font-family: Arial, sans-serif;
  background-color: #010b2b;
  margin: 0;
  padding: 0;
}

footer {
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgb(17, 17, 17); // Certifique-se de usar background-color em vez de apenas background para uma cor sólida
  color: #ffffff; // Mudando a cor do texto para um tom mais escuro para visibilidade
  text-align: center;
  padding: 20px;
 // Garantindo que o footer esteja no topo dos outros elementos
}

nav {
  background: rgb(44, 44, 44);
  padding: 10px 0;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;

    li {
      display: inline-block;
      margin-right: 20px;

      a {
        text-decoration: none;
        color: #fff;
        font-size: 16px;
        font-weight: bold;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.dashboard-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #ffffff;
}


.dashboard-card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  padding: 20px;
  transition: transform 0.3s ease;
}

.dashboard-card:hover {
  transform: translateY(-5px);
}

.dashboard-image {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.dashboard-description {
  margin-top: 10px;
  font-size: 16px;
  color: #666;
}

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
}

.carousel {
  width: 100%;
  max-width: 800px;
  height: 400px;
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.carousel img {
  width: 100%;
  height: auto;
  display: flex;
  margin: 0 auto; // Centraliza horizontalmente
}
.quem {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color:#010b2b; // Ajuste conforme necessário
}

.image-container {
  flex: 1;
  margin-right: 20px;

  img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
}

.text-container {
  flex: 2;

  h2 {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
  }

  p {
    font-family: 'Arial', sans-serif;
    color: #fff8f8;
    font-size: 16px;
    line-height: 1.5;
  }

  ul {
    list-style-type: none;
    padding: 0;

    li {
      font-family: 'Arial', sans-serif;
      color: #ffffff;
      font-size: 16px;
      margin: 5px 0;
    }
  }
}

.content {
  width: 80%;
  max-width: 800px;
  text-align: center;
}
