@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  font-family: Arial, sans-serif;
  background-color: #010b2b;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

footer {
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgb(255, 255, 255); // Certifique-se de usar background-color em vez de apenas background para uma cor sólida
  color: #002008; // Mudando a cor do texto para um tom mais escuro para visibilidade
  text-align: center;
  padding: 20px;
  // Garantindo que o footer esteja no topo dos outros elementos
}

nav {
  background: rgb(255, 255, 255);
  padding: 10px 0;
  .logo {
    img {
      width: 120px; /* Ajuste o tamanho conforme necessário */
      height: auto; /* Mantém a proporção da imagem */
    }
  }

  ul {
    list-style-type: none;
    margin: 0 auto;
    /* Centraliza o ul dentro do nav */
    padding: 0;
    display: flex;
    /* Usa flexbox para o alinhamento */
    justify-content: center;
    /* Centraliza os itens horizontalmente */
    align-items: center;
    /* Centraliza os itens verticalmente */
    text-align: center;

    li {
      margin-right: 20px;
      /* Ajusta o espaço entre os itens */

      &:last-child {
        margin-right: 0;
        /* Remove a margem direita do último item */
      }

      a {
        text-decoration: none;
        color: #002008;
        font-size: 16px;
        font-weight: bold;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.parceiros {
  display: flex;
  /* Usa flexbox para o alinhamento */
  align-items: center;
  /* Alinha os itens verticalmente ao centro */
  justify-content: space-between;
  /* Espaça os itens igualmente */
  padding: 20px;
  /* Adiciona um pouco de padding ao redor da div */
  background-color: #010b2b;
  /* Define uma cor de fundo para a seção */

  .texto {
    flex: 1;
    /* Faz com que o texto ocupe a maior parte do espaço disponível */
    margin-right: 20px;
    /* Adiciona um espaço entre o texto e a imagem */
    color: #fff;

    h2 {
      font-size: 24px;
      /* Define o tamanho da fonte para o título */
      margin-bottom: 10px;
      /* Adiciona um espaço abaixo do título */
    }

    p {
      font-size: 16px;
      /* Define o tamanho da fonte para o parágrafo */
      color: #ffffff;
      /* Define uma cor para o texto */
    }
  }

  .imagem {
    flex-shrink: 0;
    /* Impede que a imagem encolha */

    img {
      max-width: 200px;
      /* Define a largura máxima da imagem */
      height: auto;
      /* Mantém a proporção da imagem */
      border-radius: 10px;
      /* Adiciona cantos arredondados à imagem */
    }
  }
}


.dashboard-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  color: #ffffff;
}

h1 {
  text-align: center;
  color: #ffffff;
}

.dashboard-card {
  background-color: #010b2b;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  padding: 20px;
  display: flex;
  align-items: center;
  transition: transform 0.3s ease;
}

.dashboard-card:hover {
  transform: translateY(-5px);
}

.dashboard-image {
  width: 30%;
  height: auto;
  border-radius: 4px;
  margin-right: 20px;
}

.dashboard-description {
  font-size: 16px;
  color: #ffffff;
}


.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
}

.carousel {
  width: 100%;
  max-width: 800px;
  height: 600px;
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.carousel img {
  width: 100%;
  height: auto;
  display: flex;
  margin: 0 auto; // Centraliza horizontalmente
}

.quem {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: #010b2b; // Ajuste conforme necessário
}

.image-container {
  flex: 1;
  margin-right: 20px;

  img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
}

.text-container {
  flex: 2;

  h2 {
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
  }

  p {
    font-family: 'Arial', sans-serif;
    color: #fff8f8;
    font-size: 16px;
    line-height: 1.5;
  }

  ul {
    list-style-type: none;
    padding: 0;

    li {
      font-family: 'Arial', sans-serif;
      color: #ffffff;
      font-size: 16px;
      margin: 5px 0;
    }
  }
}

.content {
  width: 100%;
  max-width: 800px;
  text-align: center;
}

.cardcarousel {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: 20px 0;

  .carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
  }

  .card {
    min-width: 00px;
    margin: 0px;
    padding: 0px;
    background: #010b2b;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex-shrink: 0;
    /* Prevents shrinking */

    img {
      max-width: 30%;
      border-radius: 10px;
      margin-bottom: 10px;
    }

    h3 {
      font-size: 18px;
      margin: 10px 0;
    }

    p {
      font-size: 14px;
      color: #666;
    }
  }

  .prev,
  .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;

    &:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }
  }

  .prev {
    left: 10px;
  }

  .next {
    right: 10px;
  }
}

.coral-guard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 20px;
  background-color: #01071c;
  border-radius: 100px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  /* Adicionando margem para espaçamento da borda da página */
}

.coral-guard header {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  /* Reduzindo um pouco o espaço entre o cabeçalho e o conteúdo */
}

.coral-guard header h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  /* Aumentando o tamanho do título */
  color: #ffffff;
  /* Mudando a cor do título para torná-lo mais legível */
}

.coral-guard header p {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #ffffff;
  /* Ajustando a cor do texto do cabeçalho */
}

.gallery,
.stories,
.video,
.feedback {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.image-grid {
  display: flex;
  justify-content: center;
  gap: 10px;

  
}

.image-grid img {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}

.stories ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stories li {
  background: #010b2b;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
  width: 80%;
  text-align: center;
}

.video {
  display: flex;
  justify-content: center;
  max-width: 100%; /* Define uma largura máxima */
  margin-bottom: 20px; /* Adiciona margem inferior para espaçamento */
}

.video video {
  width: 100%; /* Faz o vídeo ocupar 100% da largura do contêiner */
  height: auto; /* Mantém a proporção da altura */
  max-width: 800px; /* Define um tamanho máximo para o vídeo */
}


.feedback form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.feedback label {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.feedback input,
.feedback textarea {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.feedback button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  align-self: center;
}

.feedback button:hover {
  background-color: #0056b3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
// main.scss


// Define estilos para dispositivos com largura até 600px
@media only screen and (max-width: 600px) {
  .homepage {
    font-size: 16px; // Reduzindo o tamanho da fonte para telas menores
  }

  .carousel {
    height: 400px; // Reduzindo a altura do carousel para telas menores
  }

  .dashboard-card {
    flex-direction: column; // Mudando a direção dos cards em telas menores
    text-align: center;
    padding: 15px;
  }

  .dashboard-image {
    width: 50%; // Reduzindo o tamanho da imagem do card para telas menores
  }
}

// Define estilos para dispositivos com largura entre 601px e 900px
@media only screen and (min-width: 601px) and (max-width: 900px) {
  .dashboard-card {
    flex-direction: column; // Mudando a direção dos cards em telas médias
    text-align: center;
    padding: 15px;
  }
}

// Define estilos para dispositivos com largura acima de 1200px
@media only screen and (min-width: 1201px) {
  .dashboard-card {
    margin: 20px; // Aumentando a margem entre os cards em telas maiores
  }
}

// Outras media queries podem ser adicionadas conforme necessário para diferentes elementos e tamanhos de tela
